<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="/Images/kiitswaplogo.png" type="image/x-icon" />
    <title>Signup and Login page</title>
</head>
<body>
    <div class="title"><h1>KIIT Swap</h1>
    </div>
        <div class="button">
        <a href="/login"><button id="login">Login</button></a>
        <a href="/register"><button id="signup">Sign up</button></a>
    </div>
</body>
</html>
