* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden; /* Add this line */

}


body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Permanent Marker', sans-serif;
  background: #131313;
}

   .button{
    width: auto;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   h1{
    
    margin-top: 100px;
    font-size: 120px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
       
   }

   .title {
    color: #FEF9E7;
   }

   button{
     background-color:#FEF9E7;
     color: rgb(26, 24, 24);
     font-family: 'Permanent Marker', sans-serif;
     border:none;
     padding:20px 60px;
     margin-left:23px;
     border-radius:10px;
     font-size:30px;
   }
   button:hover{
     box-shadow:1px 1px 1px black;
     background-color:rgb(74, 73, 71);
     cursor:pointer;
    transition: 0.5s ease;
   }
   
@media (max-width : 1326px){
h1 {
    /* margin-top: auto; */
    font-size: 12rem;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .button {
      width: auto;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 5rem;
    }

}


  @media(max-width:976px){
    h1 {
        margin-top: 100px;
        font-size: 106px;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

                                .button {
                                  width: auto;
                                  position: relative;
                                  height: 34rem;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  left: 1rem;
                                }
  }

@media(max-width:790px){
  button {
    background-color: #FEF9E7;
    border: none;
    padding: 10px 36px;
    margin-left: 15px;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    font-family: 'Permanent Marker', sans-serif;
    left: -34px;
}
}

@media(max-width:714px){
  h1 {
      margin-top: 88px;
      font-size: 58px;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.button {
  width: auto;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

}

/* @media(max-width:650px){
  h1 {
    margin-top: 100px;
    font-size: 57px;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 28px;
}

} */

@media (max-width:540px) {
      .button {
          position: relative;
          left: 2rem;
        }
}

@media (max-width:414px){
    button {
        background-color: #FEF9E7;
        border: none;
        padding: 10px 36px;
        margin-left: 15px;
        border-radius: 10px;
        position: relative;
        font-size: 18px;
        font-family: 'Permanent Marker', sans-serif;
        left: -4rem;
      }
}

@media(max-width:361px){
  .button {
      position: relative;
      left: 5rem;
      height: fit-content;
      top: 41rem;
}

        h1 {
          margin-top: 88px;
          font-size: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
}

@media (max-width: 289px){
  #login{
    font-size: 12px;
  }
 #signup{
  font-size: 12px;
 }
}